---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import Features from '../components/Features.astro';
import Footer from '../components/Footer.astro';
// import { languages } from '../i18n/ui';
import { useTranslations } from '../i18n/utils';

const lang = 'es';
const t = useTranslations(lang);
---

<Layout 
  title={t('seo.home.title')}
  description={t('seo.home.desc')}
  keywords={t('seo.home.keywords')}
>
    <Navbar />
    <Hero />
    <main>
        <Features />
    </main>
    <Footer />
</Layout>
