---
import { getLangFromUrl, useTranslations } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<footer class="text-center py-4 bg-dark-teal text-muted border-top border-secondary">
    <div class="container">
        <p class="mb-0 text-muted-teal"><small>{t('footer.copyright')}</small></p>
    </div>
</footer>
