---
import { getLangFromUrl, useTranslations, getPathForLang } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---


<footer class="bg-dark-teal text-light border-top border-secondary pt-5 pb-3">
    <div class="container">
        <div class="row g-4 justify-content-between">
            <!-- Brand & Desc -->
            <div class="col-lg-4">
                 <a class="text-neon fw-bold fs-3 text-decoration-none mb-3 d-inline-block" href={getPathForLang(lang) || '/'}>
                    EntityX
                </a>
                <p class="text-muted-teal small mb-4">
                    {t('feat.whatis.desc')}
                </p>
            </div>

            <!-- Links -->
            <div class="col-lg-2 col-6">
                <h6 class="text-neon mb-3 fw-bold">{t('nav.home')}</h6>
                <ul class="list-unstyled d-flex flex-column gap-2">
 
                    <li>
                        <a class="text-light text-decoration-none hover-neon small" href={getPathForLang(lang) + '/pricing'}>
                            {t('nav.pricing')}
                        </a>
                    </li>
                     <li>
                        <a class="text-light text-decoration-none hover-neon small" href={getPathForLang(lang) + '/partners'}>
                            {t('feat.partners.title')}
                        </a>
                    </li>
                </ul>
            </div>
             
             <!-- Social/Contact -->
             <div class="col-lg-3 col-6">
                <h6 class="text-neon mb-3 fw-bold">{t('common.contact')}</h6>
                 <a href="https://wa.me/59170668135?text=Hola!%20%F0%9F%91%8B%20Estoy%20muy%20interesado%20en%20el%20sistema%20EntityX%20%F0%9F%9A%80%20y%20me%20gustar%C3%ADa%20recibir%20m%C3%A1s%20informaci%C3%B3n.%20%F0%9F%98%83" target="_blank" class="text-light hover-neon text-decoration-none">
                    <i class="bi bi-whatsapp fs-1"></i>
                 </a>
             </div>
        </div>

        <hr class="border-secondary my-4">

        <div class="row align-items-center">
             <div class="col-md-6 text-center text-md-start">
                <p class="mb-0 text-muted-teal small"><small> {t('footer.copyright')}</small></p>
             </div>
        </div>
    </div>
</footer>

<style>
    .hover-neon:hover {
        color: var(--neon-cyan) !important;
        transition: color 0.3s ease;
    }
    .text-muted-teal {
        color: #8daab1; 
    }
</style>
